<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Add User</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form #userAddForm='ngForm' (ngSubmit)="onAddUser(userAddForm.value)" class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput required pattern="[a-zA-Z]+$" name=" firstName" placeholder="Enter first name"
                    ngModel />
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput required name="lastName" ngModel placeholder="Enter last name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput required type='email' name="email" ngModel placeholder="Enter email address">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Avatar</mat-label>
                <input matInput name='avatar' ngModel placeholder="Enter avatar url">
            </mat-form-field>

            <button mat-raised-button color="primary" class="example-full-width">Add</button>
        </form>
    </mat-card-content>
</mat-card>