<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput type='email' placeholder="Enter email address">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput type='password' placeholder="Enter password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Roles</mat-label>
                <mat-select>
                    <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{role.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" class="example-full-width">Login</button>
        </form>
    </mat-card-content>
</mat-card>