<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emp1" class="org.example.Employee">
        <property name="empId" value="1001"></property>
        <property name="empName" value="Sai"></property>
    </bean>
    <bean id="emp2" class="org.example.Employee">
        <property name="empId" value="1002"></property>
        <property name="empName" value="Sai"></property>
        <property name="contactNo" value="9999933333"></property>
        <property name="address" ref="addr1"></property>
    </bean>
    <bean id="addr1" class="org.example.Address">
        <property name="addrId" value="3001"></property>
        <property name="dNo" value="234B"></property>
        <property name="city" value="Bengalore"></property>
    </bean>
</beans>