<p>test works!</p>
<!--Pipe Examples-->
<p>{{title}}</p>
<p>{{title | uppercase}}</p>
<p>{{title | lowercase}}</p>
<p>{{title | titlecase}}</p>

<p>{{title | slice:5}}</p>
<p>{{title | slice: 0:4}}</p>

<p>{{person | json}}</p>

<!--numbers-->
<!--<p>{{ 1000.2345 | number: '3.2-3'}}</p>-->

<p>{{ 10.2345 | number: '2.2-4'}}</p>
<p>{{ 10.2345 | number: '3.1-2'}}</p>
<p>{{ 10.23 | number: '4.1-6'}}</p>

<!-- currency-->
<p>{{100| currency}}</p>
<p>{{100| currency:'INR'}}</p>
<p>{{100| currency:'GBP'}}</p>
<p>{{100| currency:'INR':'code'}}</p>
<p>{{0.10 | percent}}</p> <!--25%-->

<!--Date-->
<p>{{date}}</p>
<p>{{date | date:'short'}}</p>
<p>{{date | date: 'shortDate'}}</p>
<p>{{date | date: 'shortTime'}}</p>

<hr>



<!-- Property binding - [] - DOM properties-->
<p [id]="para">Property Binding</p>

<!-- Attribute binding - [attr.attributeName] - HTML attributes-->
<table>
    <thead>
        <tr>
            <!-- <th [attr.colspan]="colspan">Student Details</th> -->
            <th attr.colspan="{{colspan}}">Student Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Raj</td>
            <td>K</td>
        </tr>
    </tbody>
</table>

<!--Style binding- [style.propertyName]=value - applying single style property-->
<p [style.color]="para2">Style binding</p>

<!--ClassBinding - applying more than one style-->
<p [class]="para3">Class Binding</p>

<h3>Event Binding</h3>
<!--Event Binding() - transfer data from template to component -->
<input type="button" value="Try Me" (click)="onClick()" /> <br /><br />

<div>
    <input type="button" value="Increment" (click)="onIncrement()" />
    Count: {{counter}}
    <input type="button" value="Decrement" (click)="onDecrement()" />
</div> <br />

<h3> Two way binding</h3>
<!-- Attribute Binding-->
<!-- Two way binding-->
{{email}}
<form>
    <label>Email</label><br />
    <input type="email" name="email" placeholder="enter email address" [(ngModel)]="email" />
</form>

<!--ngStyle directive-->
<p [ngStyle]="{color:flag?'red':'blue'}">ngStyle Directive</p>

<!--ngClass directive-->
<p [ngClass]="flag?'redCls':'blueCls'">ngClass Directive</p>

<!--Structural Directives- ngIf, ngFor, ngSwitch-->
<a *ngIf="!isLogin" href="#">Login</a>
<a *ngIf="!isLogin" href="#">Register</a>
<a *ngIf="isLogin" href="#">Logout</a>

<ul>
    <li>India</li>
    <li>China</li>
    <li>Japan</li>
</ul>

<!--ngFor-->
<ul *ngFor="let c of countries">
    <li>{{c}}</li>
</ul>

<!--ngSwitch-->
<ul [ngSwitch]="day">
    <li *ngSwitchCase="1">Monday</li>
    <li *ngSwitchCase="2">Tuesday</li>
    <li *ngSwitchCase="3">Wednesday</li>
    <li *ngSwitchCase="4">Thursday</li>
    <li *ngSwitchCase="5">Friday</li>
    <li *ngSwitchCase="6">Saturday</li>
    <li *ngSwitchCase="7">Sunday</li>
    <li *ngSwitchDefault>Oops something went wrong!!</li>
</ul>